:root {
  --vp-layout-max-width: 100%;
}

/* 顶部导航栏样式修改 */
.VPNav .VPNavBar .container {
  margin: unset;
  max-width: var(--vp-layout-max-width);
}

#VPContent  .VPDoc .container  .content  .content-container {
  max-width: unset;
}

.VPSidebarGroup .items{
  padding-left: 16px;
}

.VPHero .name{
  font-size: 48px;
}

.VPHero .text{
  max-width: unset;
  font-size: 32px;
}


.vp-doc h2 {
  margin: unset;
  line-height: unset;
  font-size: 20px;
}

.vp-doc h3 {
  font-size: 18px;
  margin: 18px 0 0;
}